{% extends "base.html"%}

{%block content%}
    <div class="container-fluid text-center mb-5 mt-5">
        <h1 class="mb-5">Your Cart</h1>
    <table class="table table-striped mb-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
        {% for i in cart  %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{i.product.title}}</td>
            <td>${{i.product.price}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.productTotal}}</td>
          </tr>
        {% endfor %}
        <tr>
            <th scope="row"></th> 
            <td colspan="3">Total</td>
            <td>${{ order.orderTotal }}</td>
          </tr>

          <tr>
            <td colspan="4"><a href="{% url 'home' %}" class="btn btn-warning btn-lg">Back To Home</a></td>
            <td><a class="btn btn-info btn-lg">Go To Chcekout</a></td>
          </tr>
        </tbody>
      </table>
    </div>
{%endblock content%}